

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #FCF7F3;
 
  
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	text-align: center;
	font-size: 35px;
	margin-bottom: .1em;
	
}

h2 {
	font-family: 'Dawning of a New Day', cursive;
	font-size: 48px;
	color: #9EA3B0;
	text-align: center;
	margin-top:.2em;
	
}


#NavBar {
	
	text-align: center;
	color: black;
	background-color: white;
	border-top: 2px dotted;
	border-bottom: 2px solid;
	border-color: #FAE1DF;
	padding-left: .2em;
	padding-right: .5em;
	padding-top: .2em;
	padding-bottom: .2em;
	margin-bottom: 2em;
	font-family: 'Josefin Sans', sans-serif;
	
	

}

#content {
	text-align: center;
	margin-left: 5em;
	margin-right: 4em;
	padding-left: 2em;
	padding-right: 4em;
	padding-bottom: .5em;
	background-color: white;
	
}





a {
	color:black;
	text-decoration: none;
	font-size: 12px;
	padding: 3em;
	
}

a:hover {
	color: #FAE1DF;
}

